*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  letter-spacing: 1px;
}
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #373737;
  background: #f7f7f7;
}

p,
h2 {
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: Roboto, sans-serif;
  padding: 20px 0;
  line-height: 1.2;
}

p {
  line-height: 1.6;
  font-size: 18px;
  font-style: italic;
}

img {
  width: 64px;
  margin: 0 auto;
}
.cross {
  width: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

main {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1573c486240852c0b25f6687/edfe0d34-85a2-334f-535a-16bb6c3310f4.jpg);
  min-height: 920px;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 60px 20px 20px;
}

.wrapp {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content-wrapper {
  padding: 40px 30px;
  width: calc((100% - 60px) / 3);
  position: relative;
}
.content-wrapper_blue {
  background-color: #8193c3;
}

.content-wrapper_fiolet {
  background-color: #978bb7;
}

.content-wrapper_pink {
  background-color: #f9926f;
}
/*****************adaptiv************/

@media (max-width: 1190px) {
  .wrapper {
    max-width: 940px;
  }
  .content-wrapper {
    width: calc((100% - 60px) / 3);
  }
}

@media (max-width: 990px) {
  .wrapper {
    width: 720px;
  }
  h2 {
    word-wrap: break-word;
  }
}

@media (max-width: 770px) {
  .wrapper {
    width: 540px;
  }
  .content-wrapper {
    width: 100%;
    margin: 0 0 30px;
  }
  main {
    background-size: 100% 80%;
  }
}

@media (max-width: 575px) {
  .wrapper {
    width: 340px;
  }
  main {
    background-size: 100% 83%;
  }
}
